.saved-news {
  background-color: #F5F6F7;
}

.saved-news__container {
  padding-top: 62px;
  padding-bottom: 62px;
}

@media screen and (max-width: 768px) {
  .saved-news__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 425px) {
  .saved-news__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}