.news-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .news-card-list {
    gap: 8px;
  }
}

@media screen and (max-width: 720px) {
  .news-card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .news-card-list {
    gap: 10px;
  }
}